/*
Colors used
Text Color (LightSlateGrey): #000;
Primary Color (some orange): #D35323;
Secondary Color (some green): #5CB85C;
*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #D35323;
  --secondary-color: #5CB85C;
  --text-color: #000;
}

body {

  background-color: #475051;
  font-family: 'Open Sans', sans-serif;

}

h3{
  color: WhiteSmoke;
  font-size: 20px;

}

p {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

.container {
  display: block;
  flex-direction: column;
  margin: auto;                     /* this holds list of pokemons*/
  padding: 10px;
  max-width: 500px;

}

.title {

  text-align: center;
  display: block;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  margin: auto;
  margin border-top: 15px;

}

.pokemon-list__item {

  background-color: #8BE9CA;
  color: #000;
  width: 240px;
  height: 50px;
  border: 0.5px outset;
  font-size: 15px;
  border-radius: 100px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style-type: none;
  position: auto;
  width: 95%;
  margin: 10px auto 0;
  padding: 10px;
}
li {
  display: flow-root;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  text-align: center;
  transition: 0.1s opacity, 0.1s
}

.button__style {

  background-color: #5ce7c8;
  font-size: 20px;
  border: none;
  display: inline;
  text-decoration: none;
  padding: 10px;
  border-radius: 240px;
  transition: 0.1s opacity, 0.1s;

}

.button__style:hover {

  cursor: pointer;
  opacity: 0.7;
  background-image:     linear-gradient(
    to right,
    #E7484F,
    #E7484F 16.65%,
    #F68B1D 16.65%,
    #F68B1D 33.3%,
    #FCED00 33.3%,
    #FCED00 49.95%,
    #009E4F 49.95%,
    #009E4F 66.6%,
    #00AAC3 66.6%,
    #00AAC3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #E7484F 100%
/* Styling for list of Pokemon buttons */

    );
    animation:slidebg 5s linear infinite;
}

/* Styling for the details of each Pokemon */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

/* To show it above other content */
  z-index: 999;

/* To allow scrolling if the screen is not high enough */
  overflow: auto;

/* This is to centre the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
  background-color: #F6F5F5;
}
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  margin-bottom: 0px;
  font-size: 8px;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

@media all and (max-width: 1310px) {

  ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1080px) {

  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 800px) {

  ul {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 20px;
  }
}

@media all and (max-width: 540px) {

  ul {
    grid-template-columns: 1fr;
  }
}

  @keyframes slidebg {
    to {
      background-position:10vw;
    }
  }

  .follow{
    margin-top: 40px;
  }

  .follow a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
  }
